<div class="container">
	<h1>Sign Up</h1>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1">
		<%= form_for(@user) do |f| %>
		<%= f.label :first_name %>
	</div>
	<div class="col-md-2">
		<%= f.text_field :first_name %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1">
		<%= f.label :last_name %>
	</div>
	<div class="col-md-2">
		<%= f.text_field :last_name %>
	</div>	
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1">
		<%= f.label :email %>
	</div>
	<div class="col-md-2">
		<%= f.email_field :email %>	
	</div>	
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-1">
		<%= f.label :password %>
	</div>
	<div class="col-md-2">
		<%= f.password_field :password_digest %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-2">
		<%= f.submit %>
		<% end %>
	</div>
</div>


	


